html {
  font-size: 500.01%;
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  animation: 30000ms ease-in-out infinite color-change;
}

@keyframes color-change {
  0% {
    background-color: teal;
  }
  20% {
    background-color: gold;
  }
  40% {
    background-color: indianred;
  }
  60% {
    background-color: violet;
  }
  80% {
    background-color: green;
  }
  100% {
    background-color: teal;
  }
}

#Welcome{
  color:whitesmoke;
  font-size: min(8vh, 8vw);
  margin:auto;
  margin:0px; 
  text-align: center;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  min-height: 100%;
  min-width: 100%;
}
#Welcome2{
  color:whitesmoke;
  font-size: min(8vh, 8vw);
  margin:auto;
  margin:0px; 
  padding:1vh;
  text-align: center;
  grid-column: 2 / 2;
  grid-row: 4 / 4;
  min-height: 50%;
  min-width: 50%;
}
#Button{
  background-color: whitesmoke;
  color: lightgray;
  border:none;
  font-size: min(4vh, 4vw);
  border-radius: 20px;
  margin:auto;
  height: 30%;
  width: 30%;
  grid-column: 2 / 2;
  grid-row: 6 / 6;
}
#Note{
  color: whitesmoke;
  font-size: min(3vh, 3vw);
  margin:auto;
  grid-column: 2 / 2;
  grid-row: 7 / 7;
}
#NoteText{
  color: whitesmoke;
  font-size: min(2vh, 2vw);
  margin:auto;
  grid-column: 2 / 2;
  grid-row: 8 / 8;
}
#login{
  display:grid;
  height:100%;
  width: 100%;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 20% 5% 5% 5% 5% 30% 5% 5% 20%;
}
.text{
  font-family: Verdana, Geneva, Tahoma, sans-serif
}