html {font-size: 500.01%;}
body {
  animation: 30000ms ease-in-out infinite color-change;
}

@keyframes color-change {
  0% {
    background-color: teal;
  }
  20% {
    background-color: gold;
  }
  40% {
    background-color: indianred;
  }
  60% {
    background-color: violet;
  }
  80% {
    background-color: green;
  }
  100% {
    background-color: teal;
  }
}

#Welcome{
  color:whitesmoke;
  font-size: 100%;
  margin:auto;
  margin:0px; 
  padding:0px;
  text-align: center;
}
#Button{
  background-color: whitesmoke;
  margin:auto;
  height: 30%;
  width: 30%;
}
#Note{
  color: whitesmoke;
  font-size: 20%;
  margin:auto;
}
#NoteText{
  color: whitesmoke;
  font-size: 10%;
  margin:auto;
}
.text{
  font-family: Verdana, Geneva, Tahoma, sans-serif
}