/* html {font-size: 100.01%;} */
body {
  animation: 30000ms ease-in-out infinite color-change;
}

@keyframes color-change {
  0% {
    background-color: teal;
  }
  20% {
    background-color: gold;
  }
  40% {
    background-color: indianred;
  }
  60% {
    background-color: violet;
  }
  80% {
    background-color: green;
  }
  100% {
    background-color: teal;
  }
}

#Welcome{
  background-color:whitesmoke;
  font-size: 100%;
  margin:auto;
}
#Button{
  background-color: whitesmoke;
}
#Note{
  background-color: whitesmoke;
  font-size: 20%;
}
#NoteText{
  background-color: whitesmoke;
  font-size: 10%;
}