html, body {
    background-color: rgb(68, 67, 67);
    height: 100%;
    margin: 0;
    padding:0;
  
    width:100%;
    overflow-x: hidden;
    position: relative;
    min-width: 500px;
    min-height:500px;
}
.text{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.page {
    float: left;
    background: darkgray;
    min-height: 100%;

  }
  .bar {
    background-color: black;
    height: 1000px;
    width: 100px;
  }
  .scrollitem{
      margin:auto;
      position: relative;
      margin-top: 47.5%;
  }
  .container {
    height: 100%;
    background: #263729;
  }
  #lightsbar {
    float:right;
  }
  #musicbar {
    float:left;
  }
  .wrapper{
    margin-top: 4vh;
    margin-left:25%;
    height:100%;
    width:100%;
  }
  #discImage{
    width:55px;
    height: 55px;
  }
  #lightImage{
    width:55px;
    height: 55px;
  }
  .lightsimage{
    height: 60%;
    width: 6vh;
    margin:auto;
  }
.switch {
  position: relative;
  display: inline-block;
  width: 6vw;
  height: 3vw;
  margin:auto;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(63, 63, 63);
  transition: .4s;
  border-radius: 34px;
  
}

.slider:before {
  position: absolute;
  content: "";
  height: 80%;
  width: 45%;
  left: 10%;
  top:10%;
  background-color: rgb(163, 163, 163);
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #ffffff;
}
input:checked + .slider:before {
  transform: translateX(85%);
}
.mainBox{
  display: grid;
  width: 100% - 100px;
  height:100vh;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 5% 90% 5%;
}
#actualBox{
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  row-gap: 5px;
}
.actualBox{
  background-color: rgb(148, 148, 148);
  border-radius: 20px;
  width:100%;
  height:100%;
  grid-row: 2;
  grid-column: 2;
  display:grid;
  grid-template-columns: 15% 70% 15%;
}
#secondActualBox{
  grid-template-rows: 15% 70% 15%;
}
#lightstitle{
  margin:auto;
  font-size: 7vw;
}
.titleback{
  grid-row:1;
  grid-column:2;
  display:grid;
}
#light0back{
  grid-row:2;
  grid-column:2;
}
#light1back{
  grid-row:3;
  grid-column:2;
}
#light2back{
  grid-row:4;
  grid-column:2;
}
#light3back{
  grid-row:5;
  grid-column:2;
}
#light4back{
  grid-row:6;
  grid-column:2;
}
#light5back{
  grid-row:7;
  grid-column: 2;
}
.lightback{
  display: grid;
  grid-template-columns: 15% 15% 40% 15% 15%;
}
.lightLabels{
  align-items: center;
  font-size: min(3vh, 3vw);
  display:flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5px;
  padding-top: 5px;
}
.slider + .lightLabels{
  background-color: #ffffff;
}
.wrapping1{
  display:grid;
  height:100%;
  width: 100%;
  grid-column: 2;
}
.wrapping2{
  display:grid;
  height:100%;
  width: 100%;
  grid-column: 4;
}
#scrollableFrame{
  grid-row: 2;
  grid-column: 2;
}
#outerBox{
  height: 100%;
  position:relative;
}
#innerBox{
  height:100%;
  overflow:auto;
}
#scrollableDiv{
  height:1500px;
}


