html, body {
    background-color: rgb(68, 67, 67);
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}
.page {
    float: left;
    background: darkgray;
    min-height: 100%;
  }
  .bar {
    background-color: black;
    height: 1000px;
    width: 100px;
  }
  .scrollitem{
      margin:auto;
      position: relative;
      margin-top: 47.5%;
  }
  .container {
    height: 100%;
    background: #263729;
  }
  #lightsbar {
    float:right;
  }
  #musicbar {
    float:left;
  }
  .wrapper{
    margin-top: 4vh;
    margin-left:25%;
    height:100%;
    width:100%;
  }
  #discImage{
    width:50%;
    height: 5%;
  }